<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    <title>Power Ball</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Power Ball</h1>
            <div>
                <a href="/pickNumbers" class="btn btn-primary">Pick Numbers</a>
                <a href="/quickPick" class="btn btn-primary">Quick Pick</a>
                <a href="/drawNumbers" class="btn btn-primary">Draw Numbers</a>
                <a href="/searchForPick" class="btn btn-primary">Search for Picks</a>
            </div>
    </body>
    </html>